*{
    margin: 0;
    box-sizing: border-box;   
}
* a{
    text-decoration: none;
}
.header{
    position: relative;
    width: 100%;
}
.hide-mobile{
    display: none;
}
.video-info,
.views-button-bar-container,
.comments,
.author-wrapper,
.comment-wrapper{
    margin: 10px;
}

.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.center-menu{
    margin: 0;
    padding: 0;
}
.spy-glass-icon{
    color: black;
    padding-left: 15px;
}
.right-menu > *{
    padding-right: 1rem;
    color: black;
}
.video-img{
    position: relative;
    width: 100%;
}
.video-img img{
    width: 100%;
}
.video-info{
    font-size: smaller;
}
.views-button-bar-container{
    display: flex;
    flex-direction: column;
}
.button-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    border-bottom: 1px solid gray;
}
.button-bar > *{
    color: black;
}
.button-bar a{
    font-size: 10px;
}
.author-wrapper{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.author-wrapper img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.main-description{
    margin-top: 10px;
}
.comments{
    padding-block: 10px;
    border-bottom: 1px solid gray;
}
.comment-wrapper{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.comment-wrapper img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.ad-container{
    display: flex;
    margin: 10px;
    text-align: left;
}
.ad-image{
    height: 100%;
    width: 100%;
    max-height: 216px;
    max-width: 384px;
    position: relative;
    overflow: hidden;
}
.ad-image img{
    height: 100%;
    width: 100%;
}
.video-content{
    padding-left: 10px;
}
.video-length-label{
    position: absolute;
    bottom: 5px;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}
@media (min-width: 1200px){
    .desktop{
        display: flex;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .hide-mobile{
        display: inline-block;
    }
    .top-nav{
        padding-bottom: 30px;
    }
    .ad-container{
        margin-top: 0;
    }
    .center-menu{
        display: flex;
        align-items: center;
        position: relative;
    }
    .search-bar{
        border: 1px solid gray;
        padding-block: 5px;
    }
    .search-bar input{
        border: none;
        border-right: 1px solid gray;
    }
    .mic-icon{
        color: black;
        padding-left: 10px;
    }
    .spy-glass-icon{
        padding: 0;
        padding-inline: 10px;
    }
}