*{
    margin: 0;
    box-sizing: border-box;   
}
* a{
    text-decoration: none;
}
.header{
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.center-menu{
    margin: 0;
    padding: 0;
}
.spy-glass-icon{
    border: 1px solid black;
    padding-left: 15px;
}
.right-menu > *{
    padding-right: 1rem;
    color: black;
}
.button-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.button-bar > *{
    color: black;
}
.author-wrapper{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.comments{
    padding-block: 10px;
    border-bottom: 1px solid gray;
}
.comment-wrapper{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.ad-container{
    display: flex;
}
.ad-image{
    position: relative;
}
.video-length-label{
    position: absolute;
    bottom: 5px;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}